.dark-theme {
  .cursor, .work-item, .work-item-link
  {
    border-color: $pink !important;
  }

  .navbar-icon, .menu-social-icon
  {
    fill: $pink !important;
  }

  .navbar-line, .navbar-burger-item
  {
    background-color: $pink !important;
  }

  .navbar-burger-text, .about-presentation-title, .about-detail-content-showup, .header-content-title,
  .header-content-showup, .header-content-link, .work-item-title, .contact-title, .menu-nav-link-rolldown,
	.menu-social-link, .menu-social-link
  {
    color: $pink !important;
  }

  .about-detail-content-paragraph, .about-presentation-subtitle, .about-detail-skill-subtitle,
  .about-detail-skill-item, .header-content-subtitle, .header-content-paragraph, .contact-link,
  .footer-backTop, .footer-legal, .footer-legal-mention
  {
    color: $beige !important;
  }

  //Handle Special case
	.menu-nav-link {
		&::before {
			color: $beige !important;
		}
	}

	.menu-social-link {
		&:hover {
			color: $beige !important;

			.menu-social-icon {
				fill: $beige !important
			}
		}
	}

  .about-presentation-subtitle, .about-detail-skill-subtitle, .header-content-subtitle {
    &::after{
      background-color: $beige !important;
    }
  }

  .header-content-link {
    &::before, &::after {
      background-image: url($arrow-icon-pink) !important;
    }
  }

  .work-item-link {
    &:hover {
      background-color: $pink !important;
    }

    &::after {
      background-image: url($arrow-icon-pink) !important;
    }
  }

  // Handle contact flowers
  .contact-background-top, .contact-background-bottom {
    clip-path: circle(100%) !important;
  }
}

