/* Butler */
@font-face {
  font-family: 'Butler';
  font-style: normal;
  src: url("../font/butler/Butler_Regular.otf") format("truetype");
}

@font-face {
  font-family: 'Butler';
  font-style: normal;
  font-weight: 900;
  src: url("../font/butler/Butler_Black.otf") format("truetype");
}

/* QuickSand */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  src: url("../font/quicksand/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url("../font/quicksand/Quicksand-Bold.ttf") format("truetype");
}
