.navbar {
  position: fixed;
  padding: 0.5rem 1.5rem;
  min-height: 3rem;
  top: 1.2rem;
  left: 0;
  width: calc(100% - 3rem);
  z-index: 99999;

  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-icon {
    width: 2rem;
    fill: $black;
		position: relative;
		z-index:15;
  }

  .navbar-line {
    height: 1px;
    width: 100%;
    background-color: $black;
		position: relative;
		z-index: 15;
  }

  .navbar-burger {
		position: relative;
		z-index: 15;
		cursor: pointer;

    .navbar-burger-text {
      font-family: $secondary-font;
      color: $black;
    }

    .navbar-burger-item {
      width: 100%;
      height: 2px;
      background-color: $black;
      margin: 4px 0;
    }
  }
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 0;
	width: 100%;
	background-color: $black;
	z-index: 10;
	overflow: hidden;

	.menu-container {
		height: 60%;
		width: 80%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		margin-bottom: 10%;
	}

	.menu-nav-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		height: 55%;
		width: 100%;

		 .menu-nav-link {
      height: 2.5rem;
      position: relative;
      overflow: hidden;
      display: block;
      text-align: center;
      width: max-content;
			font-family: $main-font;
			font-size: 2.375rem;
			font-weight: $main-font-weight;

      .menu-nav-link-rolldown {
        color: $black;
        font-size: 2.375rem;
        position: relative;
        font-family: $main-font;
        display: block;
      }

      &::before{
        content: attr(data-content);
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        top:0;
        left:0;
        transition: $main-transition;
        transform: translateY(-100%) !important;
        color: $red;
        cursor: pointer;
      }

      &:hover {
        &::before {
          transform: translateY(0%) !important;
        }

        .menu-nav-link-rolldown {
          transform: translateY(100%) !important;
        }
      }
    }
	}

	.menu-social {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 10%;
		width: 100%;

		.menu-social-item {
			margin: 0 1.5rem;
			overflow: hidden;
		}

		.menu-social-link {
			@include flex-center;
			font-size: 1.3rem;
			font-family: $secondary-font;
			font-weight: $secondary-font-weight-text;
			color: $black;

			.menu-social-icon {
				width: 1.7rem;
				fill: $black;
			}

			.menu-social-icon--linkedin {
				width: 1.8rem;
			}
		}
	}
}

.navbar-active {
	.menu {
		.menu-nav-list {
			.menu-nav-link {
				.menu-nav-link-rolldown {
					color: $pink;
				}

				&::before {
					color: $beige;
				}
			}
		}

		.menu-social {
			.menu-social-link {
				color: $pink;

				.menu-social-icon {
					fill: pink;
				}
			}
		}
	}
}

@include md-up {
  .navbar {
    .navbar-burger {
      display: none;
    }
  }

  .menu {
    position: static;
    width: 77%;
		background-color:unset;
		height: auto;

		.menu-container {
			height: auto;
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			margin-bottom: 0;
		}

		.menu-nav-list {
      justify-content: center;
			flex-direction: row;
      width: 58%;
      min-width: 22rem;

			.menu-nav-item {
      	margin: 0 30px;
    	}

			.menu-nav-link {
				height: 1.3rem;
				text-transform: uppercase;
				font-family: $secondary-font;
				font-weight: $secondary-font-weight-common;
				font-size: 1rem;

				.menu-nav-link-rolldown {
					font-size: inherit;
					font-family: $secondary-font;
					font-weight: $secondary-font-weight-common;
				}
			}
    }

		.menu-social {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 30%;
			height: 100%;

      .menu-social-item {
        margin: 0 0.7rem;
      }

      .menu-social-link {
        @include flex-center;
        font-size: 1.1rem;
        font-family: $secondary-font;
        font-weight: $secondary-font-weight-text;
        color: $black;

        .menu-social-icon {
          width: 1.5rem;
        }

        .menu-social-icon--linkedin {
          width: 1.6rem;
        }

      }
		}
	}
}

@include xl-up {
  .menu {
    width: 68%;

    .menu-nav-list{
      width: 48%;
    }
  }
}
