/* COLOR */
$pink:#FFCCCC;
$beige: #FFF5F5;
$black: #342929;
$red: #FF4D43;

/* FONT */
$main-font: 'Butler';
$main-font-weight: 900;

$secondary-font: 'Quicksand';
$secondary-font-weight-common: 400;
$secondary-font-weight-text: 700;

/* TRANSITION */
$main-transition: 0.2s ease-in-out;
$slow-transition: 0.5s ease;

/* MEDIAQUERY SIZE */
$media-md: '48rem';
$media-lg: '62rem';
$media-xl: '75rem';

$media-lg-header: '70.625rem';